@import url('../../node_modules/bootstrap/dist/css/bootstrap.css');
@import url('../../node_modules/font-awesome/css/font-awesome.css');

.padding-2{
    padding-right:2px;
    padding-left:2px;
}

.fill {
    min-height: 70%;
    height:100%;
}

#exit-button-pos{
    position: absolute;
    bottom: 50px;
    right: 100px;
}

#generate-button-pos{
  position: absolute;
  bottom: 30px;
  right: 30px;
  height: 70px;
}

#center{
    margin-left: auto;
    margin-right: auto;
}


.word-wrap {
    word-break: break-all;
}
.no-wrap {
    white-space: nowrap;
}

.btn-lg{
  padding: 1rem 8rem;
  font-size: 30px;
}

.top-buffer {
    margin-top:15px;
}

.container-scroll > .col > .row {
    overflow: auto;
    white-space: nowrap;
    display: inline-block;
}

.container-scroll > .col > .row > .col-2 {
    display: inline-block;
    float: none;
}

#container {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 100%;
}

.table-scroll {
    height: 550px;
    overflow-y: scroll;
    overflow-x: scroll;
}